/* Navbar styling */
.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;  
    background-color: #a2caf2; 
    border-bottom: 1px solid #ddd;
    z-index: 1060 !important;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.navbar .navbar-nav {
    margin-left: auto;
    display: flex;
    align-items: center; 
}

.navbar .nav-item {
    margin-left: 10px;
}

.navbar .nav-link {
    font-size: 1rem;
    align-items: center;
}


/* Sidebar Styles - Pengaturan gaya umum untuk sidebar */
.custom-sidebar {
    width: 200px; 
    height: 100vh; 
    position: fixed; 
    top: 18px;
    left: 0;  
    padding-top: 20px; 
}

.navbar-brand-img {
    width: 270px; 
    height: auto; 
    margin-right: 10px; 
    margin-left: -5px; 
    margin-top: 40px; 
    margin-bottom: 50px;
}

.custom-sidebar .nav-link {
    display: flex; 
    align-items: center; 
    margin-top: 10px; 
    padding: 10px 20px; 
    color: #333; 
    text-decoration: none;
    margin-bottom: 7px;
}

.custom-sidebar .nav-link.active {
    background-color: #b9daf7; 
    color: #090303; 
    border-radius: 4px; 
}


.custom-sidebar .nav-link i {
    margin-right: 10px; 
}

.custom-sidebar .nav-link span {
    font-size: 17px;
}


/* Konten utama */
.main-content {
    margin-left: 300px;
    padding-top: 100px;
    transition: margin-left 0.3s ease;
}

@media (max-width: 1200px) {
    .main-content {
        margin-left: 0; 
    }
}

.bg-light {
    margin-left: 300px;
    padding-top: 80px;
    background-color: #acd6ff;
    transition: margin-left 0.3s ease; 
}